################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/GulliReplay/GulliReplay.Android/bin/Debug
/GulliReplay/GulliReplay.Android/bin/Release/*
!/GulliReplay/GulliReplay.Android/bin/Release/*.apk
/GulliReplay/GulliReplay.Android/obj
/GulliReplay/GulliReplay.UWP/bin/x86/Debug
/GulliReplay/GulliReplay.UWP/bin/x64/Debug
/GulliReplay/GulliReplay.UWP/bin/ARM/Debug
/GulliReplay/GulliReplay.UWP/obj
/GulliReplay/GulliReplay.UWP/Assets/Thumbs.db
Thumbs.db